exclude:
  - .vscode
  - .copilot
  - .github
  - node_modules
  - .next
  - .git
  - public
  - script
  - coverage
  - src/styles
  - **/*.test.ts
  - **/*.test.tsx
  - **/__tests__/
  - **/__mocks__/
  - package-lock.json
  - postcss.config.mjs
  - eslint.config.mjs
  - next-env.d.ts
  - next.config.ts
  - firebase.json
  - firestore.rules
  - storage.rules
  - apphosting.yaml
  - tsconfig.json

include:
  - src/**
  - src/app/**
  - src/components/**
  - src/hooks/**
  - src/lib/**
  - src/utils/**
  - src/constants/**
  - src/types/**
